
<div class="heading-highlights">
    <div id="block-current-website" class="heading-highlights--brand block block-block-content block-block-contenta31709fe-7b62-4e7f-956c-32aa911262ad">
<p class="heading-highlights--brand--text field__item">Cameroun</p>
</div>
<div id="block-hotnews" class="heading-highlights--news block block-block-content block-block-content0c00a863-b35b-42c2-b568-3ac2d930c286">
<a href="/fr/newsroom/calendrier-des-formations-2022" class="field-group-link hot-news" hreflang="fr">
<div class="hot-news--icon">
<span class="visually-hidden field field--name-field-enable-hot-news field--type-boolean field--label-hidden field__items">On
</span>
</div>
<article class="node-wrapper">
<div>
<strong>
News
</strong>
<span class="hot-news--text"><span data-text="
Calendrier  des formations 2022
">
Calendrier  des formations 2022
</span></span></div></article></a></div>
<div class="heading-highlights--tools">
      <div class="heading-highlights--tools-left">
  <div class="views-exposed-form search-tool block block-views block-views-exposed-filter-blockacquia-search-page-1" data-drupal-selector="views-exposed-form-acquia-search-page-1" id="block-exposedformacquia-searchpage-1" style="visibility: visible;"><button class="search-tool--close" aria-label="Close search menu" aria-expanded="true" aria-controls="search-menu"></button><button class="search-tool--icon" id="search-menu-toggle" aria-expanded="false" aria-label="Open search menu" aria-controls="search-menu"></button><div class="search-tool--content" id="search-menu" aria-hidden="true" style="width: 0px; right: 280.267px; display: none;"><form action="/fr/search" method="get" id="views-exposed-form-acquia-search-page-1" accept-charset="UTF-8" role="search">
<div class="form--inline clearfix">
<div class="js-form-item form-item js-form-type-search-api-autocomplete form-type-search-api-autocomplete js-form-item-keyword form-item-keyword">
<label for="edit-keyword">Que recherchez-vous ? </label>
<input data-drupal-selector="edit-keyword" data-search-api-autocomplete-search="acquia_search" class="form-autocomplete form-text ui-autocomplete-input" data-autocomplete-path="/fr/search_api_autocomplete/acquia_search?display=page_1&amp;&amp;filter=keyword" type="text" id="edit-keyword" name="keyword" value="" size="30" maxlength="128" data-once="autocomplete search-api-autocomplete" autocomplete="off" placeholder="Que recherchez-vous ? ">
</div>
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit-acquia-search" type="submit" id="edit-submit-acquia-search" value="Rechercher" class="button js-form-submit form-submit">
</div></div></form></div></div>
<nav role="navigation" id="block-galaxy" class="list-items block block-menu navigation menu--galaxy"></nav>
</div><div class="heading-highlights--tools-right">
        <nav role="navigation" aria-labelledby="block-portals-menu" id="block-portals" class="site-portals block block-menu navigation menu--portals" style="visibility: visible;">
<div class="site-portals--wrap"><button class="site-portals--current" aria-expanded="false" aria-controls="portal-dropdown" aria-haspopup="listbox">Links to portals</button><ul class="site-portals--list" id="portal-dropdown" aria-hidden="true" role="listbox">
  <li class="menu-item">
<span>My Veristar</span>
</li>
<li class="menu-item">
<a href="https://verigates.bureauveritas.com/" target="_blank">Verigates</a>
</li>
</ul></div></nav>
<div class="language-switcher-language-url site-lang block block-language block-language-blocklanguage-interface is-custom" id="block-languageswitcher" role="navigation" style="visibility: visible;">
<div class="site-lang--wrap"><button class="site-lang--current" aria-expanded="false" aria-controls="language-picker-dropdown" aria-label="French, Select your language" aria-haspopup="listbox">fr</button><ul class="site-lang--list" id="language-picker-dropdown" aria-hidden="true" role="listbox"><li hreflang="en" data-drupal-link-system-path="node"><a href="/node" class="language-link" aria-label="English" hreflang="en" data-drupal-link-system-path="node" role="option">en</a></li><li hreflang="fr" data-drupal-link-system-path="node" class="is-active"><a href="/fr/node" class="language-link is-active" aria-label="French" hreflang="fr" data-drupal-link-system-path="node" role="option" aria-selected="true">fr</a></li></ul></div><select aria-label="French, Select your language"><option value="/fr/node" selected="selected">fr</option><option value="/node">en</option></select></div>
</div>
</div></div>

<div class="site-heading">
<div class="site-logo">
<div id="block-sitebranding" class="site-logo--inner block block-system block-system-branding-block">
<div>
<a href="/fr" title="Home" rel="home" aria-label="Bureau Veritas logo, return to home page">Cameroon</a>
</div>
</div>
</div>
    <nav role="navigation" id="block-mainnavigation" class="main-menu block block-menu navigation menu--main">
<ul data-region="header_menu" class="menu menu-level-0">
<li class="menu-item">
<a href="/fr/expertise-sustainability" data-drupal-link-system-path="node/1331">EXPERTISE DÉVELOPPEMENT DURABLE</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-0 menu-type-default"></div>
</li>
<li class="menu-item menu-item--expanded main-menu--enabled collapsed">
<a href="/fr/who-we-are" data-drupal-link-system-path="node/871" id="main-menu--section-461f020e-e9e7-839a83c299f6" aria-haspopup="true" aria-expanded="false">Qui sommes-nous ? </a>
<div class="accordions-enabled menu_link_content menu-link-contentmain view-mode-mega-menu menu-dropdown menu-dropdown-0 menu-type-mega_menu">
<div class="main-menu--section" aria-labelledby="main-menu--section-461f020e-e9e7-839a83c299f6" aria-hidden="true" style="display: none;">
<div class="main-menu--illustration field-group-background-image" style="background-image: url('/sites/g/files/zypfnx576/files/styles/large/public/2020-06/who-we-are_0.jpg?itok=TXnEpR_n')">
<span class="visually-hidden field__item">Who we are</span></div>
<div class="main-menu--content">
<div class="teaser-menu">
<div class="teaser-menu--title field__item">BIENVENUE</div>
<div class="teaser-menu--desc field__item">Bureau Veritas est un leader mondial reconnu dans les services d'essais, d'inspection et de certification (TIC).</div>
<div class="teaser-menu--action field field--name-field-menu-link-title field--type-link field--label-hidden field__items">
<div class="link-standard field__item"><a href="/qui-sommes-nous" class="link-std">En savoir plus</a></div>
</div>
</div>
<div class="sub-menu">
<ul class="menu menu-level-1 set-relative-from-mobile">
<span class="tracker" style="opacity: 0; top: 0px;"></span><div class="accordions-enabled--col"><li class="menu-item">
<a href="/fr/qui-sommes-nous/mission" data-drupal-link-system-path="node/106">Mission</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default">
</div>
</li><li class="menu-item">
<a href="/fr/qui-sommes-nous/corporate-social-responsability" data-drupal-link-system-path="node/116">Responsabilité sociale de l'entreprise</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default">
</div>
</li></div><div class="accordions-enabled--col"><li class="menu-item">
<a href="/fr/qui-sommes-nous/bureau-veritas-africa" data-drupal-link-system-path="node/121">Bureau Veritas en Afrique</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default">
</div></li></div></ul></div></div></div></div></li>
<li class="menu-item menu-item--expanded main-menu--enabled collapsed">
<a href="/markets-services" id="main-menu--section-db04334c-17a0-3a23cf7e80f2" aria-haspopup="true" aria-expanded="false">Nos Marchés</a>
<div class="accordions-enabled menu_link_content menu-link-contentmain view-mode-mega-menu menu-dropdown menu-dropdown-0 menu-type-mega_menu">
<div class="main-menu--section" aria-labelledby="main-menu--section-db04334c-17a0-3a23cf7e80f2" aria-hidden="true" style="display: none;">
<div class="main-menu--illustration field-group-background-image" style="background-image: url('/sites/g/files/zypfnx576/files/styles/large/public/2020-06/markets%20and%20services_0.jpg?itok=uerVZ-A2')">
<span class="visually-hidden field__item">markets and services </span></div>
<div class="main-menu--content">
<div class="teaser-menu">
<div class="teaser-menu--title field__item">EXPLOREZ VOS ACTIVITÉS</div>
<div class="teaser-menu--desc field__item">Nos solutions et services aident nos clients à réduire les risques, à améliorer leurs performances et à relever les défis de qualité, de santé et de sécurité, de protection de l'environnement et de responsabilité sociale.</div>
<div class="teaser-menu--action field field--name-field-menu-link-title field--type-link field--label-hidden field__items">
<div class="link-standard field__item"><a href="/fr/marches-services" class="link-std">En savoir plus</a></div></div></div><div class="sub-menu"><ul class="menu menu-level-1 set-relative-from-mobile">
<span class="tracker" style="opacity: 0; top: 0px;"></span><div class="accordions-enabled--col"><li class="menu-item menu-item--expanded accordion-enabled collapsed">
<a href="/markets-services/buildings-infrastructure">Bâtiments &amp; infrastructures</a><button class="sub-menu--trigger" aria-label="Open" id="menu-840257b2-9ebc-3b809de47820" aria-expanded="false" aria-controls="aria-control-840257b2-9ebc-3b809de47820">Open</button>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default">
<ul class="menu menu-level-2 accordions-enabled--hide-item" id="aria-control-840257b2-9ebc-3b809de47820" role="region" aria-labelledby="menu-840257b2-9ebc-3b809de47820" aria-hidden="true" style="display: none;">
<li class="menu-item">
<a href="/markets-services/buildings-infrastructure/public-building-infrastructure-assets">Immeubles publics &amp; infrastructures</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li>
<li class="menu-item">
<a href="/markets-services/buildings-infrastructure/industrial-office-assets">Actifs industriels &amp; bureaux</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default">
</div></li><li class="menu-item">
<a href="/markets-services/buildings-infrastructure/transport-infrastructure">Infrastructures de transport</a><div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li><li class="menu-item">
<a href="/markets-services/buildings-infrastructure/residential-retail-leisure-buildings">Bâtiments résidentiels, commerciaux &amp; de loisirs</a><div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li>    <li class="menu-item">
<a href="/markets-services/buildings-infrastructure/water-sanitation">Eau &amp; assainissement</a><div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li>
<li class="menu-item">
<a href="/markets-services/buildings-infrastructure/banks-insurance">Banques &amp; assurances</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li></ul></div></li><li class="menu-item">
<a href="/markets-services/chemicals">Produits chimiques</a><div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default"></div></li><li class="menu-item menu-item--expanded accordion-enabled collapsed"><a href="/markets-services/commodities-agriculture">Matières premières &amp; agriculture</a><button class="sub-menu--trigger" aria-label="Open" id="menu-8cc67119-cadb-669237b1825a" aria-expanded="false" aria-controls="aria-control-8cc67119-cadb-669237b1825a">Open</button><div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default">
<ul class="menu menu-level-2 accordions-enabled--hide-item" id="aria-control-8cc67119-cadb-669237b1825a" role="region" aria-labelledby="menu-8cc67119-cadb-669237b1825a" aria-hidden="true" style="display: none;">
<li class="menu-item">
<a href="/markets-services/commodities-agriculture/oil-petrochemicals">Pétrole &amp; pétrochimie</a><div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li>
<li class="menu-item"><a href="/markets-services/commodities-agriculture/metals-minerals">Métaux &amp; minéraux</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li><li class="menu-item"><a href="/markets-services/commodities-agriculture/mining">Industrie minière</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li>
<li class="menu-item">
<a href="/markets-services/commodities-agriculture/agri-commodities">Matières premières agricoles</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li></ul></div></li><li class="menu-item">
<a href="/markets-services/consumer-products-retail">Biens de consommation &amp; distribution</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default"></div>
</li><li class="menu-item menu-item--expanded accordion-enabled collapsed">
<a href="/markets-services/food">Agro-alimentaire</a><button class="sub-menu--trigger" aria-label="Open" id="menu-ebe9719e-fd8a-b13356ea2b12" aria-expanded="false" aria-controls="aria-control-ebe9719e-fd8a-b13356ea2b12">Open</button>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default">
<ul class="menu menu-level-2 accordions-enabled--hide-item" id="aria-control-ebe9719e-fd8a-b13356ea2b12" role="region" aria-labelledby="menu-ebe9719e-fd8a-b13356ea2b12" aria-hidden="true" style="display: none;">
<li class="menu-item"><a href="/markets-services/food/food-manufacturing-processing">Production &amp; transformation alimentaire</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li><li class="menu-item">
<a href="/markets-services/food/food-retail-service-hospitality">Distribution alimentaire, restauration &amp; hôtellerie</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li><li class="menu-item"><a href="/markets-services/food/aqua-culture-sea-food">Aqua culture &amp; produit de la mer</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default">
</div></li></ul></div></li></div><div class="accordions-enabled--col"><li class="menu-item">
<a href="/markets-services/marine-offshore">Marine &amp; offshore</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default">
</div></li><li class="menu-item menu-item--expanded accordion-enabled collapsed">
<a href="/markets-services/oil-gas">Pétrole &amp; gaz </a><button class="sub-menu--trigger" aria-label="Open" id="menu-c55beba9-ca3c-cd8f2e80b6b3" aria-expanded="false" aria-controls="aria-control-c55beba9-ca3c-cd8f2e80b6b3">Open</button>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default">
<ul class="menu menu-level-2 accordions-enabled--hide-item" id="aria-control-c55beba9-ca3c-cd8f2e80b6b3" role="region" aria-labelledby="menu-c55beba9-ca3c-cd8f2e80b6b3" aria-hidden="true" style="display: none;">
<li class="menu-item">
<a href="/markets-services/oil-gas/exploration-production">Exploration &amp; production</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li>
<li class="menu-item">
<a href="/markets-services/oil-gas/refining-processing">Raffinage &amp; traitement</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li><li class="menu-item"><a href="/markets-services/oil-gas/transportation-storage">Transport &amp; stockage</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div>
</li><li class="menu-item"><a href="/markets-services/oil-gas/oil-gas-distribution">Pétrole &amp; gaz distribution</a><div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li></ul></div>
</li><li class="menu-item menu-item--expanded accordion-enabled collapsed">
<a href="/markets-services/power-utilities">Énergie &amp; utilités</a><button class="sub-menu--trigger" aria-label="Open" id="menu-704926f2-1454-32b89ec9fe6c" aria-expanded="false" aria-controls="aria-control-704926f2-1454-32b89ec9fe6c">Open</button>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default">
<ul class="menu menu-level-2 accordions-enabled--hide-item" id="aria-control-704926f2-1454-32b89ec9fe6c" role="region" aria-labelledby="menu-704926f2-1454-32b89ec9fe6c" aria-hidden="true" style="display: none;">
<li class="menu-item">
<a href="/markets-services/power-utilities/power-generation">Production d'énergie</a><div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default">
</div></li><li class="menu-item">
<a href="/markets-services/power-utilities/power-transmission">Transmission d'énergie</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li><li class="menu-item">
<a href="/markets-services/power-utilities/power-gas-distribution">Distribution d'électricité &amp; de gaz</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li><li class="menu-item">
<a href="/markets-services/power-utilities/waste-collection-treatment">Collecte des déchets &amp; traitement</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default">
</div>
</li>
<li class="menu-item">
<a href="/markets-services/power-utilities/control-thermal-installations-buildings">Contrôle des installations thermiques des bâtiments</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li></ul></div></li><li class="menu-item menu-item--expanded accordion-enabled collapsed">
<a href="/markets-services/public-sector">Secteur public</a><button class="sub-menu--trigger" aria-label="Open" id="menu-63b614dd-66a0-bcf19f59b595" aria-expanded="false" aria-controls="aria-control-63b614dd-66a0-bcf19f59b595">Open</button>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default">
<ul class="menu menu-level-2 accordions-enabled--hide-item" id="aria-control-63b614dd-66a0-bcf19f59b595" role="region" aria-labelledby="menu-63b614dd-66a0-bcf19f59b595" aria-hidden="true" style="display: none;">
<li class="menu-item">
<a href="/markets-services/public-sector/government">Gouvernement</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-2 menu-type-default"></div></li></ul></div></li></div></ul></div></div> </div>
</div></li><li class="menu-item menu-item--expanded main-menu--enabled collapsed">
<a href="/fr/votre-besoin" data-drupal-link-system-path="node/716" id="main-menu--section-ddce11bb-1724-aa8435963c3c" aria-haspopup="true" aria-expanded="false">Votre besoin</a>
<div class="accordions-enabled menu_link_content menu-link-contentmain view-mode-mega-menu menu-dropdown menu-dropdown-0 menu-type-mega_menu">
<div class="main-menu--section" aria-labelledby="main-menu--section-ddce11bb-1724-aa8435963c3c" aria-hidden="true" style="display: none;">
<div class="main-menu--illustration field-group-background-image" style="background-image: url('/sites/g/files/zypfnx576/files/styles/large/public/2020-06/Wind%20Turbine_307407410_0.jpg?itok=Cq2tBjzZ')">
<span class="visually-hidden field__item">votre besoin</span></div><div class="main-menu--content">
<div class="teaser-menu">        <div class="teaser-menu--title field__item">VOTRE BESOIN</div>
<div class="teaser-menu--desc field__item">Nous offrons à nos clients une gamme complète de services – de l’inspection et de l’audit, au test, à l’analyse, et à la certification. Nous cherchons à leur fournir la solution la plus adaptée à leur besoin tout au long de leur cycle de vie.</div>
<div class="teaser-menu--action field field--name-field-menu-link-title field--type-link field--label-hidden field__items">
<div class="link-standard field__item"><a href="/fr/marches-services/nos-services" class="link-std">En savoir plus</a></div></div></div>
<div class="sub-menu">  <ul class="menu menu-level-1 set-relative-from-mobile"><span class="tracker" style="opacity: 0; top: 0px;"></span><div class="accordions-enabled--col"><li class="menu-item">
<a href="/fr/votre-besoin/redemarrez-votre-activite-avec-bv" data-drupal-link-system-path="node/991">Redémarrez votre activité avec BV</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default"> </div> </li><li class="menu-item">
<a href="/fr/votre-besoin/batiment-construction" data-drupal-link-system-path="node/211">Bâtiment &amp; construction</a><div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default">
</div></li><li class="menu-item menu-item--collapsed">
<a href="/fr/votre-besoin/certification-audit-systemes-de-management" data-drupal-link-system-path="node/1101">Certification, audit &amp; management services</a> <div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default">      </div></li><li class="menu-item">
<a href="/fr/votre-besoin/conseil-performances-qualite-hygiene-securite-environnement" data-drupal-link-system-path="node/616">Services de santé, sécurité &amp; environnement</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default">
</div></li></div><div class="accordions-enabled--col"><li class="menu-item">
<a href="/fr/votre-besoin/inspections-verification-dinstallations-et-dequipements-en-exploitation" data-drupal-link-system-path="node/216">Inspection &amp; essais</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default">
</div></li><li class="menu-item">
<a href="/fr/votre-besoin/tests-analyses" data-drupal-link-system-path="node/601">Tests &amp; analyses</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default"></div></li><li class="menu-item">
<a href="/fr/votre-besoin/formation" data-drupal-link-system-path="node/206">Formation</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default"></div></li></div></ul> </div></div>
</div></div></li> <li class="menu-item">
<a href="/fr/newsroom" data-drupal-link-system-path="newsroom">Actualités</a>
<div class="menu_link_content menu-link-contentmain view-mode-mega-menu menu-dropdown"></div></li>
<li class="menu-item menu-item--expanded main-menu--enabled collapsed">
<button type="button" id="main-menu--section-b9406845-92fc-09f3f62069dc" aria-haspopup="true" aria-expanded="false">Carrières</button>
<div class="menu_link_content menu-link-contentmain view-mode-mega-menu menu-dropdown menu-dropdown-0 menu-type-mega_menu">
<div class="main-menu--section" aria-labelledby="main-menu--section-b9406845-92fc-09f3f62069dc" aria-hidden="true" style="display: none;">
<div class="main-menu--illustration field-group-background-image" style="background-image: url('/sites/g/files/zypfnx576/files/styles/large/public/2020-08/InsignxBV_Image_menu_sans_texte.jpg?itok=Cllc4Cly')">
<span class="visually-hidden field__item">careers</span></div>
<div class="main-menu--content"><div class="teaser-menu"><div class="teaser-menu--title field__item">REJOIGNEZ-NOUS POUR GRANDIR AVEC NOUS</div><div class="teaser-menu--desc field__item">Découvrez nos opportunités de carrière.</div></div><div class="sub-menu"><ul class="menu menu-level-1 set-relative-from-mobile"><li class="menu-item"><a href="/fr/carrieres/changez-de-cap" data-drupal-link-system-path="node/1226">Changez de cap</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default"></div></li><li class="menu-item">
<a href="/fr/carrieres/laissez-votre-empreinte" data-drupal-link-system-path="node/1231">Laissez votre empreinte</a>
<div class="menu_link_content menu-link-contentmain view-mode-default menu-dropdown menu-dropdown-1 menu-type-default"></div></li>
<span class="tracker" style="opacity: 0; top: 0px;"></span></ul></div></div></div></div> </li>
<li class="menu-item">
<a href="/contact-us">Contact</a>
<div class="menu_link_content menu-link-contentmain view-mode-mega-menu menu-dropdown">
</div> </li></ul></nav> </div>
<div class="burger-menu--trigger"></div>
donne moi ce header en react mui